@charset "utf-8";
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{text-decoration:none}ins,mark{background-color:#ff9;color:#000}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


a{color:#999}
#night-bin:checked ~ #back{
background-color:#222;
mix-blend-mode:difference;
position:absolute
}
#night-bin:checked ~ .short li a{
background-color:#fff
}
#night-bin:checked ~ .short li a img{
background-color:#000
}
#night-bin:checked ~ #g-icon .b{
display:none
}
#light-bin:checked ~ #g-icon .w{
display:none
}
#night-bin:checked ~ #night-icon{display:none}
#light-bin:checked ~ #light-icon{display:none}
#night-bin:checked ~ footer{background-color:#111;color:#fff}

#night-bin,
#light-bin{
display:none
}

#light-icon{
background-color:#fff
}
#night-icon{
background-color:#000
}
#night-icon,#light-icon{
display:block;
box-sizing:border-box;
width:48px;
height:48px;
position:fixed;
z-index:5;
top:16px;
right:16px;
cursor:pointer;
border-radius:24px
}
#night-icon img,#light-icon img{
width:100%;
image-rendering:pixelated;
image-rendering:-webkit-crisp-edges;
image-rendering:-moz-crisp-edges;
-ms-interpolation-mode:nearest-neighbor
}
#back{
background-color:#eee;
display:block;
width:100vw;
height:100vh;
position:fixed;
z-index:0;
transition:.3s
}
#g-icon{
text-align:center;
position:fixed;
z-index:4;
top:22vh;
left:0;
right:0;
margin:auto
}
#g-icon img{
height:25vh;
max-height:150px;
image-rendering:pixelated;
image-rendering:-webkit-crisp-edges;
image-rendering:-moz-crisp-edges;
-ms-interpolation-mode:nearest-neighbor
}


.short{
display:inline-block;
margin:10px;
font-size:0;
position:fixed;
z-index:5
}
.short.left-w,.short.left-h{
left:0;
top:0
}
.short.left-w li{ display:inline-block; }
.short.left-h li{ display:block; }
.short li{
margin:6px
}
.short li a{
display:block;
box-sizing:border-box;
width:48px;
height:48px;
padding:3px;
background-color:#000
}
.short li a img{
display:block;
height:36px;
width:36px;
padding:3px;
background-color:#eee
}

#search{
position:fixed;
z-index:4;
top:50vh;
left:0;
right:0;
margin:auto
}
#search input{
width:70vw;
height:40px;
padding:0 16px;
margin:0 auto;
font-size:20px;
border:1px #ddd solid;
border-radius:20px;
outline:none;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
position:fixed;
left:0;
right:0
}

footer{
background-color:#fff;
display:block;
width:100%;
padding:10px 0;
text-align:center;
position:fixed;
bottom:0
}
footer p,footer small{
font-size:19px
}
